NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_PACKAGE_ID=<your_deployed_package_id>
NEXT_PUBLIC_CLAN_REGISTRY_ID=<clan_registry_object_id>
ORACLE_PRIVATE_KEY=<oracle_signer_private_key>
ORACLE_FEED_URL=<live_fight_data_feed_url>
WALRUS_ENDPOINT=<walrus_storage_endpoint>
FANSHIP_PACKAGE_ID=
CLAN_PACKAGE_ID=
PREDICTION_PACKAGE_ID=
FANSHIP_ADMIN_CAP_ID=
CLAN_ADMIN_CAP_ID=
PREDICTION_ADMIN_CAP_ID=